---
export type Props = {
  full?: boolean
  title: string
}

const { full, title } = Astro.props
const style = !full ? 'max-height: 30rem;' : ''
---

<div title={`section:${title}`} class="box" style={style}>
  <slot />
</div>

<style>
  .box {
    overflow: auto;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px dashed #dfdfdf;
  }

  .box:before {
    content: attr(title);
    position: absolute;
    right: 0.4em;
    top: 0.4em;
    padding: 0.2em 0.4em;
    background: #dfdfdf;
    font-family: 'Anonymous Pro', Menlo, monospace;
    font-size: 10px;
  }
</style>
